<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/404.css' %}" type="text/css" media="all">
<head>
  <title>Not Found!</title>
</head>
<div class="wrapper">
  <section id="box" class="clear">
    <h1>CONGRATULATIONS!</h1>
    <img src="{% static 'portfolio/img/404.png' %}">
    <p>The page you were looking for does not exist, but you got this AWESOME one instead!</p>
    <p>Go back to the <a href="javascript:history.go(-1)">previous page</a> or back to the <a href="/">homepage</a></p>
  </section> 
</div>
