<!DOCTYPE html>
<html lang="en">

<head>

<title>Christopher Kenyon</title>

<!-- Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="keywords" content="Chris, Christopher, Kenyon, Software Engineer, Boston, San Francisco, Silicon Valley, Northeastern">

{% load static %}
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'portfolio/img/smile.ico/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'portfolio/img/smile.ico/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'portfolio/img/smile.ico/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'portfolio/img/smile.ico/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'portfolio/img/smile.ico/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'portfolio/img/smile.ico/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'portfolio/img/smile.ico/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'portfolio/img/smile.ico/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'portfolio/img/smile.ico/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'portfolio/img/smile.ico/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'portfolio/img/smile.ico/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'portfolio/img/smile.ico/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'portfolio/img/smile.ico/favicon-16x16.png' %}">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>

<!-- Style -->
<link rel="stylesheet" href="{% static 'portfolio/css/ext/bootstrap.min.css' %}"     type="text/css" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="all">
<!--link rel="stylesheet" href="{% static 'portfolio/css/ext/font-awesome.min.css' %}"  type="text/css" media="all"-->
<link rel="stylesheet" href="{% static 'portfolio/css/ext/chocolat.css' %}"          type="text/css" media="all">
<link rel="stylesheet" href="{% static 'portfolio/css/ext/owl.carousel.css' %}"      type="text/css" media="all">
<link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}"                 type="text/css" media="all">

<!-- Fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700"              type="text/css" media="all">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"  type="text/css" media="all">

{% if not DEBUG_MODE %}
<script>
	window['_fs_host'] = 'fullstory.com';
	window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
	window['_fs_org'] = 'EJMKB';
	window['_fs_namespace'] = 'FS';
	(function(m,n,e,t,l,o,g,y){
		    if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
		    g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
		    o=n.createElement(t);o.async=1;o.crossOrigin='anonymous';o.src='https://'+_fs_script;
		    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
		    g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
		    g.anonymize=function(){g.identify(!!0)};
		    g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
		    g.log = function(a,b){g("log",[a,b])};
		    g.consent=function(a){g("consent",!arguments.length||a)};
		    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
		    g.clearUserCookie=function(){};
		    g.setVars=function(n, p){g('setVars',[n,p]);};
		    g._w={};y='XMLHttpRequest';g._w[y]=m[y];y='fetch';g._w[y]=m[y];
		    if(m[y])m[y]=function(){return g._w[y].apply(this,arguments)};
		    g._v="1.3.0";
	})(window,document,window['_fs_namespace'],'script','user');
</script>
{% endif %}
</head>


<!--  Body   -->

<body >
  <div class="header" id="agilehome">
    <div class="intro-name">
      <h1>CHRIS KENYON</h1>
      <h2> - <span>SOFTWARE ENGINEER</span> - </h2>
    </div>
    <div class="navigation"> <!-- Nav -->
      <div class="nav-grids">
        <div class="ch-grid">
          <div class="col-md-2 nav-grid nav-grid1">
            <div class="ch-item ch-img-1">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"><i class="fa fa-male" aria-hidden="true"></i></div>
                  <div class="ch-info-back">
                    <h3><a class="scroll" href="#agileabout">ABOUT</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 nav-grid nav-grid3">
            <div class="ch-item ch-img-3">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                  <div class="ch-info-back">
                    <h3><a class="scroll" href="#aitsresumewthree">RESUME</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 nav-grid nav-grid4">
            <div class="ch-item ch-img-4">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                  <div class="ch-info-back">
                    <h3><a class="scroll" href="#portfolio">WORK</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 nav-grid nav-grid5">
            <div class="ch-item ch-img-5">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"><i class="fa fa-users" aria-hidden="true"></i></div>
                  <div class="ch-info-back">
                      <h3><a class="scroll" href="#agileinfosclients">TECHS</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 nav-grid nav-grid2">
            <div class="ch-item ch-img-2">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
                  <div class="ch-info-back">
                    <h3><a class="scroll" href="#wthreeskills">MORE</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 nav-grid nav-grid6">
            <div class="ch-item ch-img-6">
              <div class="ch-info-wrap">
                <div class="ch-info">
                  <div class="ch-info-front ch-img-1"><i class="fa fa-phone" aria-hidden="true"></i></div>
                  <div class="ch-info-back">
                      <h3><a class="scroll cont" href="#contact">CONTACT</a></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div> 
  <!-- Head -->

  <!-- Pics -->
  <div class="photo-collage">
    <img class="photo" src="{% static 'portfolio/img/chris1.jpg' %}">
    <img class="photo" src="{% static 'portfolio/img/chris2.jpg' %}">
    <img class="photo" src="{% static 'portfolio/img/chris3.jpg' %}">
    <img class="photo small-hide" src="{% static 'portfolio/img/chris4.jpg' %}">
    <img class="photo small-hide" src="{% static 'portfolio/img/chris5.jpg' %}">
    <div class="clearfix"></div>
  </div>

  <!-- About -->
  <div class="aboutbackground">
    <div class="transparent-white agileabout" id="agileabout">
      <div class="container-fluid">
        <h2>ABOUT ME</h2>
        <div class="agileabout-grids">
          <div class="col-md-6 agileabout-grid agileabout-grid-1">
            <h3>WELCOME</h3>
            <strong>
            <p>Hey! I'm Chris. Welcome to my portfolio site! I built this bad boy to detach from the stiffness of a resume and show off some full stack engineering.</p>
            <p>I'm a software engineer and entrepreneur in the Bay Area always looking to connect with new people. I have been leading automated power testing and validation for a wearable AR/VR product at Google for years, and looking to take this experience elsewhere. Reach out or drop me a line if you're interested in talking after you poke around my site, or connect with me on LinkedIn <a href="https://www.linkedin.com/in/christopher-kenyon-702b866a/" target="_blank">here</a>.</p>
            </strong>
          </div>
          <div class="col-md-6 agileabout-grid agileabout-grid-1">
            <h3>WHO AM I</h3>
            <strong>
            <p>I am a driven leader. As an engineer I consistently deliver, excel, and outperform in the face of challenges and find satisfaction in life in doing so. I bring people together well to converge projects toward exceptional deliverables which launch and land. I have excelled in this tech lead role at Google, and I am ready to move toward management. Google has not provided me a clear path to get there, despite managing many interns and mentees, and I am looking for a opportunity where growth is clear.</p>
            </strong>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div><!-- //About -->


  <!-- Resume -->
  <div class="aitsresumewthree" id="aitsresumewthree">
    <div class="container">
      <div class="aitsresumewthree-tag">
        <h3 class="title">EXPERIENCE & EDUCATION</h3>
      </div>
      <div class="load_more">
        <ul id="myList">
          <li class="aitsaitsresumewthreeli-1">
            <div class="l_g">
              <div class="l_g_r g_r">
                <div class="work">
                  <h4 class="title">Timeline</h4>
                  <div class="work-info">
                    <div class="col-md-6 work-grid work-left bordered">
                      <h5>Google</h5>
                      <p class="small-date">Jan 2019 - Present</p>
		      <div class="job-title">Software Engineer I to III</div>
                      <p>At Google, my primary role has been on the AR/VR team working on undisclosed wearable technology. I serve as a tech lead for automated testing & release, as well as power validation for new hardware and OS bringup. I work across the entire stack, agnostic to language, from hardware soldering and power lab configuraion, to firmware and driver code, OS and on-device application development, Android client code in Java and Kotlin, and all of the internal development and test tools in between. I work with Directors and leaders across the organization to drive power budgets and some of the device's most important decisions.<p>
                    </div>
                    <div class="col-md-6 work-grid work-right work-right-flip large-date">
                      <h4>Jan '19 - Now</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="work-info">
                    <div class="col-md-6 work-grid work-left large-date">
                      <h4>Oct '17 - Sep '18</h4>
                    </div>
                    <div class="col-md-6 work-grid work-right bordered">
                      <h5>Digital Mortar</h5>
                      <p class="small-date">Oct 2017 - Sep 2018</p>
                      <div class="job-title">Solutions Engineer</div>
                      <p>Before starting at Digital Mortar, I had been working on multiple personal projects and my senior capstone project, which were mostly all web projects. I decided that I wanted to build generalist, development operations, leadership, and entrepreneurial skills, all of which were acheivable as a solutions engineer within this small startup. I helped the CEO transition away from a developer role, and I led much of the transition of the MVP to become a sustainable, production-ready solution. This involved developing invaluable dev ops pipelines for testing and release infrastructure. As a team we brought the product to its first customers, doing so with a user-oriented development cycle, developing solutions rapidly based on their needs on aggressive timelines.</p>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="work-info">
                    <div class="col-md-6 work-grid work-left bordered">
                      <h5>Google</h5>
                      <p class="small-date">Sep 2017 - Aug 2018</p>
                      <div class="job-title">Vice President of Engineering & Co-Founder</div>
                      <p>Treehoppr was a bittersweet experience where I've learned and grown more than I ever have in a year. Nothing motivates you stronger than a lack of income, Ramen noodles, and a product that needs to be built from scratch. Nearly every minute that wasn't spent developing or working on company strategy was filled with endless research, building my multifaceted skillset. I became a strong UI/UX designer, a proficient front-end developer employing modern development practices and technologies, an expert at AWS development operations, and further excelled my application and SQL skills. On top of this, I learned how to become an effective team member while working with combative co-founders, developing and employing productive communication skills to maintain expectations, find resolution in conflict, and lead healthy processes to solutions. In the end, creative differences in strategic direction that were inconsistent with my hopes for the company, but we sold to Deel, Inc., so I was happy in the end.<p>
                    </div>
                    <div class="col-md-6 work-grid work-right work-right-flip large-date">
                      <h4>Sep '17 - Aug '18</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="work-info">
                    <div class="col-md-6 work-grid work-left large-date">
                      <h4>Jan '16 - Jul '16</h4>
                    </div>
                    <div class="col-md-6 work-grid work-right bordered">
                      <h5>Kumu Networks</h5>
                      <p class="small-date">Jan 2016 - Jul 2016</p>
                      <div class="job-title">Software Engineering Co-op.</div>
                      <p>When searching for my third co-op, I knew that I needed more responsibility to continue the trend of immense learning, and that led me across the country to this 5G wireless networking startup in Silicon Valley. I brought my hunger, and when the full-time engineer on the other half of our two person team left, I told my boss that I would fill the shoes of both of our roles, which I did for the next 5 months. I  coordinated all of the testing for the product level on a test suite that I built, while developing drivers and conducting field testing in the meantime. The project I am most proud of was the reverse engineering of a wireless communication diagnostics protocol to deliver real time measurements in a Python driver, which saved Kumu $250,000 in avoiding purchasing the software that would provide the diagnostics, vital for what was at the time a scrappy Series A company. I walked away with a mastery of Python and advanced data analysis techniques, as well as an extremely firm confidence that I was ready to graduate and excel in an engineering role.</p>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="work-info">
                    <div class="col-md-6 work-grid work-left bordered">
                      <h5>Corindus Vascular Robotics</h5>
                      <p class="small-date">Jan 2015 - Nov 2015</p>
                      <div class="job-title">Software and Electrical Research & Development Co-op</div>
                      <p>By the time I was looking for my second co-op position, I had some experience in electrical engineering and low-level software development from my computer engineering studies. I wanted to try something very different from my previous co-op, so I went for a robotics startup to try working in a lab and getting my hands dirty. I took on application level projects where I could flex my C# ability, refactoring the entire software base and massively optimizing it. Alongside this, I also took on firmware projects to develop an understanding of control loops, microcontroller & microprocessor control, CAN communication networks, and even just lab skills like soldering, cabling, and electrical debugging. I was asked to stay on part time to help manage and train other co-ops when going back to school, and in the end I took away a great understanding of how to structure large robotic software systems and some management and teaching skills. I took my skills I gathered here to create the BeerBot with my mechanical engineer roommate, check it out in the projects below.
                    </div>
                    <div class="col-md-6 work-grid work-right work-right-flip large-date">
                      <h4>Jan '15- Nov '15</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="work-info">
                    <div class="col-md-6 work-grid work-left large-date">
                      <h4>Jan '14 - Dec '14</h4>
                    </div>
                    <div class="col-md-6 work-grid work-right bordered">
                      <h5 class="comp">Charles River Development</h5>
                      <p class="small-date">Jan 2014 - Dec 2014</p>
                      <div class="job-title">C#/Java Software Engineer Co-op</div>
                      <p>I entered this first co-op position as a sophomore in college with no practical programming experience, nor any idea what industry or technology I liked, but with a hunger to learn as much as I could. I absorbed everything I could - each detail of Java, C#, and SQL syntax and patterns, to development processes, to complex Google Guava caching and multithreading advantages and pitfalls. Within just a couple months, my boss told me I was outputting as much as the full time engineers, and the sprint planning numbers corroborated that, and I was asked to stay on part time while going back to school. From this I built on a passion and love for programming that I carry with me today.</p>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="l_g">
              <div class="l_g_r g_r">
                <div class="work">
                  <h4 class="title title2">EDUCATION</h4>
                  <div class="work-info">
                    <div class="col-md-6 work-grid work-left large-date">
                      <h4>2012-2017</h4>
                    </div>
                    <div class="col-md-6 work-grid work-right bordered">
                      <h5 class="univ">Northeastern</h5>
                      <p><b>Northeastern University</b></p>
                      <p class="small-date">Sep 2012 - May 2017</p>
                      <p>I attended on scholarship and graduated magna cum laude from this U.S. News Top 40 school in Boston. I was provided an extremely top-notch and competetive education alongside three superb and competitive co-op internships worked into the curriculum. In my (standard) 5 years at Northeastern, I have gained a tremendous foundation and understanding of computer engineering, computer science, and all the soft skills that can be gained from 2+ years of professional working experience through co-ops. Classes in the computer engineering curriculum gave me a strong foundation on how commands actually execute on a processor and how things can become more efficient at the lowest levels, knowlege that scales into the computer science curriculum as I designed complex algorithms and data structures, and applications in general.</p>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="work-info">
                    <div class="col-md-6 work-grid work-left bordered">
                      <h5 class="univ">Alvirne</h5>
                      <p><b>Alvirne High School</b></p>
                      <p class="small-date">Sep 2008 - May 2012</p>
                      <p>Enrolled in three programming courses during my high school years to begin my interest.</p>
                      <p>Graduated top of class of 350 with a 3.96 GPA. Scored a 2260 on SATs with a perfect score in math.</p>
                    </div>
                    <div class="col-md-6 work-grid work-right work-right-flip large-date">
                      <h4>2008-2012</h4>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <!--div class="work-info">
                    <div class="col-md-6 work-grid work-left">
                      <h4>1995-2004</h4>
                    </div>
                    <div class="col-md-6 work-grid work-right">
                      <h5 class="sch">School</h5>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
                    </div>
                    <div class="clearfix"> </div>
                  </div-->
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="load-buttons">
          <div class="wow fadeInUp" id="loadMore">Show More <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
          <div class="wow fadeInDown" id="showLess">Show Less <i class="fa fa-chevron-up" aria-hidden="true"></i></div>
        </div>
        <br/>
        <h2><a href="/resume/">Full Resume</a></h2>
      </div>
    </div>
  </div> <!-- //Resume -->


  <!-- Portfolio -->
  <div class="portfolio " id="portfolio">
    <div class="container">

      <h3>MY WORK</h3>
      <ul class="simplefilter ">
        <li class="active " data-filter="all">All</li>
        <li data-filter="1">Personal Projects</li>
        <li data-filter="2">School Projects</li>
        <li data-filter="3">Work Projects</li>
      </ul>
      <div class="filtr-container ">
        <div class="filtr-item " data-category="3" data-sort="A">
          <a href="{% static 'portfolio/img/treehoppr.jpg' %}" class="b-link-stripe b-animate-go thickbox" title="Treehoppr"
                caption="The Treehoppr travel benefits platform.<br><a href='/projects/#treehoppr'>Learn More</a>">
            <figure>
              <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288252/portfolio_jjaxxo.png" class="img-responsive "-->
              <img src="{% static 'portfolio/img/treehoppr.jpg' %}" class="img-responsive ">
              <figcaption>
                <h3>TREEHOPPR</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="filtr-item portfolio-t" data-category="2" data-sort="B">
          <!--a href="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288254/capstone_zycrmt.jpg" class="b-link-stripe b-animate-go thickbox" title="Capstone"
             caption="The 2016 first place winning senior capstone team presents AirMap.<br><a href='/projects/#capstone'>Learn More</a>"-->
          <a href="{% static 'portfolio/img/capstone.jpg' %}" class="b-link-stripe b-animate-go thickbox" title="Capstone"
             caption="The 2016 first place winning senior capstone team presents AirMap.<br><a href='/projects/#capstone'>Learn More</a>">
            <figure>
              <img src="{% static 'portfolio/img/capstone.jpg' %}" class="img-responsive ">
              <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288254/capstone_zycrmt.jpg" class="img-responsive "-->
              <figcaption>
                <h3>CAPSTONE</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="filtr-item " data-category="1" data-sort="C">
          <!--a href="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288238/beerbot_bcw2uq.jpg" class="b-link-stripe b-animate-go thickbox" title="Beerbot"
                caption="A personal project to deliver myself beer for those extra lazy days.<br><a href='/projects/#beerbot'>Learn More</a>"-->
          <a href="{% static 'portfolio/img/beerbot.jpg' %}" class="b-link-stripe b-animate-go thickbox" title="Beerbot"
                caption="A personal robotics project designed to deliver cans from the fridge.<br><a href='/projects/#beerbot'>Learn More</a>">
            <figure>
              <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288238/beerbot_bcw2uq.jpg" class="img-responsive "-->
              <img src="{% static 'portfolio/img/beerbot.jpg' %}" class="img-responsive ">
              <figcaption>
                <h3>BEERBOT</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="filtr-item " data-category="2" data-sort="D">
          <a href="{% static 'portfolio/img/oryx.jpg' %}" class="b-link-stripe b-animate-go thickbox" title="Oryx"
                caption="Revitilization of the Oryx rover under the direction of Professor Padir.<br><a href='/projects/#oryx'>Learn More</a>">
            <figure>
              <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288258/oryx_pfg41f.jpg" class="img-responsive "-->
              <img src="{% static 'portfolio/img/oryx.jpg' %}" class="img-responsive ">
              <figcaption>
                <h3>ORYX</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="filtr-item " data-category="1" data-sort="E">
          <a href="{% static 'portfolio/img/gpnews.png' %}" class="b-link-stripe b-animate-go thickbox" title="GPNews"
                caption="A natural language processing personal project to deliver geolocated news.<br><a href='/projects/#gpnews'>Learn More</a>">
            <figure>
              <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288241/gpnews_jxd5ne.png" class="img-responsive "-->
              <img src="{% static 'portfolio/img/gpnews.png' %}" class="img-responsive ">
              <figcaption>
                <h3>GPNEWS</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="filtr-item " data-category="2" data-sort="F">
          <a href="{% static 'portfolio/img/airmap.png' %}" class="b-link-stripe b-animate-go thickbox" title="Airmap"
                caption="The front end design of the senior capstone project web interface. I'll be honest this is just a placeholder because it looks nice.">
            <figure>
              <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288244/airmap_h7nnsq.png" class="img-responsive "-->
              <img src="{% static 'portfolio/img/airmap.png' %}" class="img-responsive">
              <figcaption>
                <h3>AIRMAP DESIGN</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="filtr-item " data-category="3" data-sort="G">
          <a href="{% static 'portfolio/img/kumu.jpg' %}" class="b-link-stripe b-animate-go thickbox" title="Kumu Networks"
                caption="Setting up for field work at Kumu Networks in Sunnyvale, CA.<br><a href='/projects/#kumu'>Learn More</a>">
            <figure>
              <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/c_crop,g_north,h_550,w_673,y_100/v1487290416/kumu_jgtcgc.jpg" class="img-responsive "-->
              <img src="{% static 'portfolio/img/kumu.jpg' %}" class="img-responsive ">
              <figcaption>
                <h3>Kumu Networks</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="filtr-item " data-category="3" data-sort="H">
          <a href="{% static 'portfolio/img/corindus.jpg'%}" class="b-link-stripe b-animate-go thickbox" title="Corindus Vascular Robotics"
                caption="Running ESD reliability tests on Corindus Vascular Robotics robot.<br><a href='/projects/#corindus'>Learn More</a>">
            <figure>
              <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/c_crop,g_south,h_2064,w_2448,y_800/v1487292582/corindus2_weu3gb.jpg" class="img-responsive "-->
              <img src="{% static 'portfolio/img/corindus.jpg'%}" class="img-responsive ">
              <figcaption>
                <h3>Corindus</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="filtr-item " data-category="3" data-sort="I">
          <a href="{% static 'portfolio/img/crd.jpg'%}" class="b-link-stripe b-animate-go thickbox" title="Charles River Development"
                caption="Development on CRD's massive application had a serious learning curve for a first-time co-op<br><a href='/projects/#charlesriver'>Learn More</a>">
            <figure>
              <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487294052/crd_nvtrpn.jpg" class="img-responsive "-->
              <img src="{% static 'portfolio/img/crd.jpg'%}" class="img-responsive ">
              <figcaption>
                <h3>Charles River</h3>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="footer">
        <h1><a href="/projects/">Learn More!</a></h1>
      </div>
    </div>
  </div> <!-- //Portfolio -->

  <!-- Technologies -->
  <div class="agileinfosclients" id="agileinfosclients">
    <div class="container">

      <h3>TECHNOLOGIES</h3>

      <!-- Screen-Gallery-Carousel -->
      <div id="owl-demo" class="owl-carousel text-center">
        <img class="owl-lazy" data-src="{% static 'portfolio/img/python.png' %}" alt="Cubicle">
        <img class="owl-lazy" data-src="{% static 'portfolio/img/C.png' %}" alt="Cubicle">
        <img class="owl-lazy" data-src="{% static 'portfolio/img/C++.png' %}" alt="Cubicle">
        <img class="owl-lazy" data-src="{% static 'portfolio/img/C#.png' %}" alt="Cubicle">
        <img class="owl-lazy" data-src="{% static 'portfolio/img/html.png' %}" alt="Cubicle">
        <img class="owl-lazy" data-src="{% static 'portfolio/img/css.png' %}" alt="Cubicle">
        <img class="owl-lazy" data-src="{% static 'portfolio/img/js.png' %}" alt="Cubicle">
        <img class="owl-lazy" data-src="{% static 'portfolio/img/jQuery.png' %}" alt="Cubicle">
        <img class="owl-lazy" data-src="{% static 'portfolio/img/aws.png' %}" alt="Cubicle">
        <img class="owl-lazy" data-src="{% static 'portfolio/img/mongo.png' %}" alt="Cubicle">
        <img class="owl-lazy" data-src="{% static 'portfolio/img/sql.png' %}" alt="Cubicle">
        <img class="owl-lazy" data-src="{% static 'portfolio/img/rpi.png' %}" alt="Cubicle">
        <img class="owl-lazy" data-src="{% static 'portfolio/img/ros.png' %}" alt="Cubicle">
        <!--
        <img class="owl-lazy" data-src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288253/python_ndttyx.png">
        <img class="owl-lazy" data-src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288238/C_pcyn9i.png">
        <img class="owl-lazy" data-src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288238/C_cb2z5g.png">
        <img class="owl-lazy" data-src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288237/C_vushmw.png">
        <img class="owl-lazy" data-src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288244/html_qik4ai.png">
        <img class="owl-lazy" data-src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288239/css_g5sdsg.png">
        <img class="owl-lazy" data-src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288245/js_zgielm.png">
        <img class="owl-lazy" data-src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288237/bootstrap_dk46qo.png">
        <img class="owl-lazy" data-src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288242/jQuery_omnfp5.png">
        <img class="owl-lazy" data-src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288244/mongo_wealqw.png">
        <img class="owl-lazy" data-src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288253/sql_wkaaz3.png">
        <img class="owl-lazy" data-src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288252/rpi_ushdlm.png">
        -->
      </div>
    </div>
  </div> <!-- //Technologies -->

  <!-- Skills -->
  <div class="wthreeskills" id="wthreeskills">
    <div class="container-fluid">
      <h3>MORE</h3>
      <div class="wthreeskills-grids">
        <div class="col-md-12">
          <div class="tabs">
            <div class="sap_tabs">
              <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                <ul class="resp-tabs-list">
                  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Links</span></li>
                  <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Grades</span></li>
                  <!--li class="resp-tab-item" aria-controls="tab_item-3" role="tab"><span>TODO</span></li-->
                </ul>
                <div class="resp-tabs-container">
                  <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                     <div class="w3lsstatsaits-info">
                      <div class="col-md-4 w3lsstatsaits-3grid biglink">
                        <h3><a href="https://bitbucket.org/ckenyon" target="none">Bitbucket</a></h3>
                        <p>Professional Code</p>
                      </div>
                      <div class="col-md-4 w3lsstatsaits-3grid biglink">
                        <h3><a href="https://www.hackerrank.com/ckenyon" target="none">Hackerrank</a></h3>
                        <p>Challenges</p>
                      </div>

                      <div class="col-md-4 w3lsstatsaits-3grid biglink">
                        <h3><a href="https://github.com/chriskenyon" target="none">GitHub</a></h3>
                        <p>Academic Code</p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-2">
                    <div class="w3lsstatsaits-info">
                      <div class="col-md-4 w3lsstatsaits-3grid ">
                        <div class="w3lsstatsaitsstats counter" data-slno='1' data-min='0' data-max='4.0' data-delay='.5' data-increment=0.01>3.81</div>
                        <p>GPA</p>
                      </div>
                      <div class="col-md-4 w3lsstatsaits-3grid biglink">
                        <h3><a href="https://drive.google.com/open?id=0B-VUlepJf5apOGJta1dRWHR3MG8" target="none">Grades</a></h3>
                        <p>Unofficial Transcript</p>
                      </div>
                     <div class="col-md-4 w3lsstatsaits-3grid ">
                        <div class="w3lsstatsaitsstats counter" data-slno='1' data-min='0' data-max='4.0' data-delay='.5' data-increment=0.01>3.91</div>
                        <p>Major GPA</p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="contact" id="contact">
    <div class="container">
      <h3>CONTACT ME</h3>
      <div class="heading-underline"></div>
      <form action="message" id="contact_form" class="contact_form slideanim" type="submit">
        {% csrf_token %}
        <div class="message">
          <div class="col-md-6 col-sm-6 grid_6 c1">
            <input type="text" class="margin-right" Name="name" placeholder="Name" required="">
            <input type="email" Name="email" placeholder="Email" required="">
            <input type="text" class="margin-right" Name="phone" placeholder="Phone Number">
          </div>
          <div class="col-md-6 col-sm-6 grid_6 c1">
            <textarea name="message" placeholder="Message (Max 1000)" maxlength="1000" required=""></textarea>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="sub-alert">
          <input id="submit-btn" type="submit" class="more_btn" value="Send Message">
          <div id="success-alert" style="display:none" class="alert alert-success">
            <strong>Success!</strong> Thank you! Chris will be notified via SMS.
          </div>
        </div>
      </form>
    </div>
  </div> <!-- Contact End -->


  <!-- Footer -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xs-6 text-center">
          <a href="tel:+16039656571"><i class="fa-footer fa fa-mobile"></i></a>
          <br><a href="tel:+16039656571">(603) 965 - 6571</a></p>
        </div>
        <div class="col-sm-3 col-xs-6 text-center">
          <p>
          <a href="mailto:cjkenyon117@gmail.com?subject=Insert%20Subject%20Here%20%28e%2Eg%2E%20You%27re%20Hired%21%29" style="text-decoration: none;">
            <i class="fa-footer fa fa-envelope-o"></i>
          </a><br>
          <a href="mailto:cjkenyon117@gmail.com?subject=Insert%20Subject%20Here%20%28e%2Eg%2E%20You%27re%20Hired%21%29">Email</a>
          </p>
        </div>
        <div class="col-sm-3 col-xs-6 text-center">
          <p>
          <a href="https://www.linkedin.com/in/christopher-kenyon-702b866a" target="_blank" style="text-decoration: none;">
              <i class="fa-footer fa fa-linkedin-square "></i>
          </a><br>
          <a href="https://www.linkedin.com/in/christopher-kenyon-702b866a" target="_blank">LinkedIn</a></p>
        </div>
        <div id="resume_link" class="col-sm-3 col-xs-6 text-center" data-csrf="{{csrf_token}}">
          <p>
          <!-- the other one was fa-download if i want it back... -->
          <a href="/resume" style="text-decoration: none;"><i class="fa-footer fa fa-file-pdf-o"></i></a><br>
          <a href="/resume">Resume</a>
          <!--a href="{% static 'portfolio/docs/Resume.pdf' %}" download="" style="text-decoration: none;">
              <i class="fa-footer fa fa-file-pdf-o"></i>
          </a><br>
          <a href="{% static 'portfolio/docs/Resume.pdf' %}" download="">Resume</a-->
          </p>
        </div>
      </div>
      <div class="row">
        <div class="copyright slideanim">
          <p>&copy; Christopher John Kenyon. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div> <!-- Footer End -->



  <!-- JAVASCRIPT -->
  <!-- Main JS -->
  <script type="text/javascript" src="{% static 'portfolio/js/jquery-2.1.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'portfolio/js/portfolio.js' %}"></script>
  <script type="text/javascript" src="{% static 'portfolio/js/bootstrap.min.js' %}"></script>
  <!-- Horizontal-Tabs-JavaScript -->
  <script type="text/javascript" src="{% static 'portfolio/js/easyResponsiveTabs.js' %}"></script>
  <script type="text/javascript">
      $(document).ready(function () {
          $('#horizontalTab').easyResponsiveTabs({
              type: 'default',
              width: 'auto',
              fit: true,
          });
      });
  </script>
  <!-- Horizontal-Tabs-JavaScript -->

  <!-- Stats-Number-Scroller-Animation-JavaScript -->
  <script src="{% static 'portfolio/js/waypoints.min.js' %}"></script>
  <script src="{% static 'portfolio/js/counterup.min.js' %}"></script>
  <script>
      jQuery(document).ready(function( $ ) {
          $('.counter').counterUp({
              delay: 10,
              time: 1000,
          });
      });
  </script>
  <!-- //Stats-Number-Scroller-Animation-JavaScript -->

  <!-- Progressive-Bars-JavaScript -->
  <script src="{% static 'portfolio/js/bars.js' %}"></script>
  <!-- //Progressive-Bars-JavaScript -->

  <!-- Show-More-JavaScript -->
  <script>
      $(document).ready(function () {
          size_li = $("#myList li").size();
          x=1;
          $('#myList li:lt('+x+')').show();
          $('#loadMore').click(function () {
              x= (x+1 <= size_li) ? x+1 : size_li;
              $('#myList li:lt('+x+')').show();
          });
          $('#showLess').click(function () {
              x=(x-1<0) ? 1 : x-1;
              $('#myList li').not(':lt('+x+')').hide();
              $('html,body').scrollTop($('#aitsresumewthree').offset().top);
          });
      });
  </script>
  <!-- Show-More-JavaScript -->

  <!-- Tabs-JavaScript -->
  <script src="{% static 'portfolio/js/jquery.filterizr.js' %}"></script>
  <script src="{% static 'portfolio/js/controls.js' %}"></script>
  <script type="text/javascript">
      $(function() {
          $('.filtr-container').filterizr();
      });
  </script>
  <!-- //Tabs-JavaScript -->

  <!-- PopUp-Box-JavaScript -->
  <script src="{% static 'portfolio/js/jquery.chocolat.js' %}"></script>
  <script type="text/javascript">
      $(function() {
          $('.filtr-item a').Chocolat();
      });
  </script>
  <!-- //PopUp-Box-JavaScript -->

  <!-- Owl-Carousel-JavaScript -->
  <script src="{% static 'portfolio/js/owl.carousel.js' %}"></script>
  <script>
      $(document).ready(function() {
          $("#owl-demo").owlCarousel ({
              items : 6,
              loop: true,
              lazyLoad : true,
              autoplay : true,
              autoplaySpeed: 1000,
              autoplayTimeout: 2000,
              pagination : false,
              margin: 15
          });
      });
  </script>
  <!-- //Owl-Carousel-JavaScript -->

  <!-- Slide-To-Top JavaScript -->
  <script type="text/javascript">
      $(document).ready(function() {
          var defaults = {
              containerID: 'toTop',
              containerHoverID: 'toTopHover',
              scrollSpeed: 100,
              easingType: 'linear',
          };
          $().UItoTop({ easingType: 'easeOutQuart' });
      });
  </script>
  <a href="#" id="toTop" class="stuoyal3w stieliga" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
  <!-- //Slide-To-Top JavaScript -->

  <!-- Smooth-Scrolling-JavaScript -->
  <script type="text/javascript" src="{% static 'portfolio/js/move-top.js' %}"></script>
  <script type="text/javascript" src="{% static 'portfolio/js/easing.js' %}"></script>
  <script type="text/javascript">
      jQuery(document).ready(function($) {
          $(".scroll").click(function(event){
              event.preventDefault();
              $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
          });
      });
  </script>
  <!-- //Smooth-Scrolling-JavaScript -->
</body>
</html>
