<!DOCTYPE html>
<html lang="en">

<head>

<title>Christopher Kenyon - Projects</title>

<!-- Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="keywords" content="Chris, Christopher, Kenyon, Software Engineer, Boston, San Francisco, Sillicon Valley, Northeastern, Projects">
<!-- Style -->
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/ext/bootstrap.min.css' %}"     type="text/css" media="all">
<link rel="stylesheet" href="{% static 'portfolio/css/ext/font-awesome.min.css' %}"  type="text/css" media="all">
<link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}"                 type="text/css" media="all">
<link rel="stylesheet" href="{% static 'portfolio/css/projects.css' %}"                 type="text/css" media="all">

<!-- Fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700"              type="text/css" media="all">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"  type="text/css" media="all">

{% if not DEBUG_MODE %}
<script>
window['_fs_debug'] = false;
window['_fs_host'] = 'fullstory.com';
window['_fs_org'] = 'EJMKB';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
    g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
    o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};g.event=function(i,v){g('event',{n:i,p:v})};
    g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
    g.consent=function(a){g("consent",!arguments.length||a)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(){};
})(window,document,window['_fs_namespace'],'script','user');
</script>
{% endif %}

</head>

<!--  Body   -->

<body>
<!--div class="transparent-white"--> <!-- in case I want to make background an image... -->
  <div class="white">
    <div class="container">
      <div class="row proj-header">
        <h1>Learn More About My Projects</h1>
      </div>
      <div id="capstone" class="row row-eq-height">
        <div class="col-md-6 col-md-push-6 proj-col">
          <h3>Capstone</h3>
          <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288254/capstone_zycrmt.jpg" class="img-responsive "-->
          <img src="{% static 'portfolio/img/capstone.jpg'%}" class="img-responsive ">
        </div>
         <div class="col-md-6 col-md-pull-6 proj-col">
          <p>For my senior capstone, my team and I decided to undergo a project that would be truly meaningful. We took our time to research and unconver an area of environmental research that was surprisingly difficult to tackle with the current tools on the market - air pollution monitoring. It is an obvious global issue with a variety of adverse affects to the health of humans and most other species we share Earth's land and skies with. The tools we currently monitor air pollution with are often bulky, fixed, and expensive, or otherwise inaccurate, and none provide a meaningful way of examining the collected data without extensive programming knowledge.<br>
          In this, AirMap was born in a 4 month long hectic process of all-nighters and extreme overwork by the five handsome electrical and computer engineering student you see here. We developed a uniquely shaped printed circuit board and mechanical enclosure with detailed attention to airflow and accuracy to create a sleek handheld device for monitoring ozone and particulate matter levels, which sends geolocated data to a cloud server with an intuitive and responsive web interface for viewing and processing the data. My work focused mainly on developing the web server, the front end, and firmware to integrate with the cloud server. This gave me extensive practice with firmware integration, building Django frameworks, designing beautiful web pages, deep analysis in Python with large data sets and numpy, and high level system design and implementation. This full solution was expertly engineered, and far beyond the expectations of a normal capstone team after many, many long nights, earning the AirMap team the first place prize. This is the type of dedication you can expect out of me as an engineer.<br>
          Watch the full presentation <a href="https://youtu.be/ivufoQ0pYsw" target="none">here</a>, the "Holy crap that video is 23 minutes long, give me a 7 minute one" <a href="https://youtu.be/aTUevfAdixM" target="none">here</a>, or the "I don't really care, dude. Give me a minute long touchy feely video" one <a href="https://youtu.be/-mhOy1nZy9o" target="none">here</a>.
        </div>
      </div>
    </div>
  </div>
  <div class="gray">
    <div class="container">
      <div id="beerbot" class="row row-eq-height">
        <div class="col-md-6 proj-col">
          <h3>BeerBot</h3>
          <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288238/beerbot_bcw2uq.jpg" class="img-responsive "-->
          <img src="{% static 'portfolio/img/beerbot.jpg'%}" class="img-responsive ">
        </div>
        <div class="col-md-6 proj-col">
          <p>Let's face it, even the most motivated of us have a lazy Sunday where the idea of getting off the couch might as well be facing your death, and reaching the bottom of your delcious craft beer is worse than facing down a 10 year drought. Luckily, I'm a firm believer that putting in large initial efforts will require much less effort in the long run, such as providing strong documentation at the start of your codebase so that maintenance is easier down the road. So a couple years ago a couple friends and I embarked on the large effort to make a robot that can fetch beer from the fridge, so that much lesser effort can be made down the line for those lazy days.<br>
             In reality, although I love a good beer, my friends and I wanted to learn about building a robot and developing our skills. So we designed the mechanical aspects from scratch, including machining and 3D printing custom parts, as well as constructing a rock solid electrical design with custom cable harnesess. Alongside this, we developed the control system for the motor driver, implemented the inverse kinematics of the 3DOF arm, and created a Flask web server on board to handle control and camera streaming. I also created a web interface remote controller great for controlling the robots from any mobile device. It is sad not living with this beautiful machine anymore...
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="white">
    <div class="container">
      <div id="gpnews" class="row row-eq-height">
        <div class="col-md-6 col-md-push-6 proj-col">
          <h3>News of the World</h3>
          <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288241/gpnews_jxd5ne.png" class="img-responsive "-->
          <img src="{% static 'portfolio/img/gpnews.png'%}" class="img-responsive ">
        </div>
        <div class="col-md-6 col-md-pull-6 proj-col">
          <p>This is a fun project I worked on during the tumultuous election season. I wanted to play around with some natural language processing, and have since been calling this project "News of the World" or "Gain Perspective News" interchangeably, even though neither name is very good. The idea is to scrape RSS feeds on the web for articles originating in different parts of the world, and for a user to be able to compare how different areas are reporting on the same topic. Right now we have a localized to a certain subset of U.S. states, where searching for a keyword will return a carousel of articles where that keyword is important in the article. There isn't much for comparison yet, but the articles come nicely geolocated by state in an intuitive web interface, and what we have is useful for my personal interests in news. It's no Google Trends, but it's an interesting tool in theory and currently has a pretty massive dataset of preprocessed articles to play with. This was a great way to learn about creating a Django site, and my first exposure to building a web stack.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="gray">
    <div class="container">
      <div id="nuboreas" class="row row-eq-height">
        <div class="col-md-6 proj-col">
          <h3>Nu-Boreas</h3>
          <!--img src="https://res.cloudinary.com/lndjplc4o/image/upload/v1487801503/nuboreas_ja0ezc.jpg" class="img-responsive "-->
          <img src="{% static 'portfolio/img/nuboreas.jpg'%}" class="img-responsive ">
        </div>
        <div class="col-md-6 proj-col">
          <p>Dr. Padir also organized a team for entering into NASA's 2016 RASC-AL Mars Ice Challenge and I was elected to lead the team. The goal was to propose a potential design of a scalable system that can drill through simulated Martian soil and into ice-rich soil to ultimately extract filtered water. This was an opportunity for me to gain some interdisciplinary experience as well as lead a team of about 15 engineers in a design process, something that I knew would not be a commonly available experience for me while in school. In a couple month's time, under my direction, we developed a full system that fit the stringent constraints of the proposed program and submitted it to RASC-AL. While the proposal ultimately unsuccessful after the competetive selection process, if you aren't learning more from your failures than you are your successes, something might be wrong. You can see the proposal <a href="https://drive.google.com/open?id=0B-VUlepJf5apMXU2Zm80cDZQbW8" target="none">here</a>. As a bonus, the 2017 team at Northeastern won the entire challenge after modifying this design, lead by Daniel McGann!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="white">
    <div class="container">
      <div id="oryx" class="row row-eq-height">
        <div class="col-md-6 col-md-push-6 proj-col">
          <h3>Oryx</h3>
          <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487288258/oryx_pfg41f.jpg" class="img-responsive "-->
          <img src="{% static 'portfolio/img/oryx.jpg'%}" class="img-responsive ">
        </div>
        <div class="col-md-6 col-md-pull-6 proj-col">
          <p>Look at that sweet rover! Yeah, I wish I built it. This is actually a product of Worcester Polytechnic Institute for their submission into a NASA robotics challenge years ago, that now resides in the Robotics and Intelligent Vehicles Research Laboratory (RIVeR Lab) at Northeastern under Professor Taskin Padir's direction. A couple students and I offered to help Dr. Padir with any open tasks in the lab, with hopes of learning the Robot Operating System (ROS) and undergoing a challenging task. We were asked to upgrade the software in the very outdated Oryx codebase and add features as time permits in my final semester. The ROS upgrade to Indigo using catkin was arduously completed, and my ability to use ROS skyrocketed.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="gray">
    <div class="container">
      <div class="row proj-header">
        <h1>More About My Work Experiences</h1>
      </div>
      <div id="treehoppr" class="row row-eq-height">
        <div class="col-md-6 proj-col">
          <h3>Treehoppr</h3>
          <img src="{% static 'portfolio/img/treehoppr.jpg'%}" class="img-responsive ">
        </div>
        <div class="col-md-6 proj-col">
          <p>
          Treehoppr is a platform designed to help companies optimize the their paid time off policies and promote the culture surrounding actually using that PTO. It is bundled into a software platform offered to employees to help them get the most out of each day off with tools to help them socialize with coworkers, discover, and plan all for travel. The platform's core feature is a Travel Fund, which allows employers to contribute or match contributions that employee's make in a budgeted fashion. This required a massive amount of work and persistence in the FinTech space to generate a great user experience and a fantastic budgeting tool. The platform was an excellent way to generate a lot of front end experience that I lacked, driven by my perfectionist attitude to make a clean UI and UX, developed in an efficient fashion.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="white">
    <div class="container">
      <div id="kumu" class="row row-eq-height">
        <div class="col-md-6 col-md-push-6 proj-col">
          <h3>Kumu Networks</h3>
          <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/c_crop,g_north,h_550,w_673,y_100/v1487290416/kumu_jgtcgc.jpg" class="img-responsive "-->
          <img src="{% static 'portfolio/img/kumu.jpg'%}" class="img-responsive ">
        </div>
        <div class="col-md-6 col-md-pull-6 proj-col">
          <p>Kumu Networks has developed technology that cancels Self-Interference, the "unwanted" energy that leaks into a radio's receiver while transmitting. As a result of the cancellation, the receiver hears no noise from its transmitter, freeing it to cleanly receive external signals. A radio using Kumu's self-interference cancellation technology can transmit and receive at the same time on the same frequency.
          Kumu was a great place to work and learn as a co-op, and I grew immensely both technically and professionally. My role here was support the test engineer for the high level system performance tests for their upcoming product, until I also took over his role when he left the company shortly into my time there, and I assumed all of his responsibilities in this fast paced start up. I learned Python here and haven't ever looked back, and quickly it became my best language for producing effective, well-structured, efficient, and readable code in a timely manner. I also developed as a test-driven engineer, strengthening my meticulous perspective in addressing edge cases and unexpected outcomes.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="gray">
    <div class="container">
      <div id="corindus" class="row row-eq-height">
        <div class="col-md-6 proj-col">
          <h3>Corindus Vascular Robotics</h3>
          <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/c_crop,g_south,h_2064,w_2448,y_800/v1487292582/corindus2_weu3gb.jpg" class="img-responsive "-->
          <img src="{% static 'portfolio/img/corindus.jpg'%}" class="img-responsive ">
        </div>
        <div class="col-md-6 proj-col">
          <p>Corindus is a late stage start up company that has engineered the CorPath Robotic PCI systems. I started here during heavy developement of their second generation product, the CorPath GRX. My critical technological contributions included modeling the existing software with UML diagrams, analyzing, then rearchitecting the massive C# code base, as well as adding features and bug fixes to this control system and the robot firmware. During this time, I assumed a crucial level of responsibility in our atomic software team, gaining a sense for the bigger picture of the company's goals, and developing myself professionally. In this, I interviewed and managed other interns and became a driving force in the software development and testing, while broadening my knowledge of robotic controls, communications, and general software engineering.<p>
        </div>
      </div>
    </div>
  </div>
  <div class="white">
    <div class="container">
      <div id="charlesriver" class="row row-eq-height">
        <div class="col-md-6 col-md-push-6 proj-col">
          <h3>Charles River Development</h3>
          <!--img src="http://res.cloudinary.com/lndjplc4o/image/upload/v1487294052/crd_nvtrpn.jpg" class="img-responsive "-->
          <img src="{% static 'portfolio/img/crd.jpg'%}" class="img-responsive ">
        </div>
        <div class="col-md-6 col-md-pull-6 proj-col">
          <p>Charles River is a financial software company that develops the Charles River Investment Management System (CRIMS), a massive enterprise solution for investment firms to manage every aspect of their daily operations. This was my first co-op internship experience and I was thrown into a massive C# front end application and an equally large Java backend server with little programming experience before this point in time, and none in either of these languages. I had to ramp up to speed very quickly, and I proudly was closing my first bug fix tickets within the first two week sprint. I have an intense determination in positions where I don't feel qualified, and I proved this at Charles River, where they began to respect me as they would any of the engineers on the team with critical pieces of work. I was also put in charge of organizing and leading the live user testing, then generating feedback reports and identifying bugs for our team. I greatly developed as a programmer in the use of C#, Java, SQL and other technologies, but also as an engineer in problem solving, strong communication, and leadership.<p>
        </div>
      </div>
    </div>
  </div>
  <!-- JAVASCRIPT -->
  <script type="text/javascript" src="{% static 'portfolio/js/jquery-2.1.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'portfolio/js/bootstrap.min.js' %}"></script>
  <a href="../" id="toHome" class="fa fa-home" aria-hidden="true"></a>
  <a href="#" id="toTop" class="stuoyal3w stieliga" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
  <script type="text/javascript" src="{% static 'portfolio/js/move-top.js' %}"></script>
  <script type="text/javascript" src="{% static 'portfolio/js/easing.js' %}"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
  </script>
</body>


