#box {
  display:block;
  width:100%;
  line-height:1.6em;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}
#box h1{
  font-size:80px;
  text-transform:uppercase;
}
#box img{
  margin-bottom:25px;
}
#box p{
  display:block;
  margin:0 0 25px 0;
  padding:0;
  font-size:16px;
}
