body{
    font-size:13px;
}
h3 {
    color:#515151;
    /*color:#3D9970;*/
}
img {
    max-height:500px;
}
.white{
    padding-top:20px;
    padding-bottom:20px;
    background-color:white;
}
.gray {
    padding-top:20px;
    padding-bottom:20px;
    background-color:rgba(80,0,80,0.1);
}

.proj-header {
    padding-top: 2vw;
    padding-bottom: 2vw;
    text-align: center;
}

.proj-col{
    padding-top: 15px;
    padding-bottom: 15px;
    width:100%;
    text-align:center;
}

#toHome {
	z-index: 99999;
	position: fixed;
	bottom: 2px;
	right: 40px;
	overflow: hidden;
	width: 40px;
	height: 40px;
    font-size:38px;
}


@media screen and (min-width:992px){
    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
    }
    .proj-col p{
        position:relative;
        top:50%;
        transform:translateY(-50%);
    }
    .proj-col img{
        position:relative;
        top:50%;
        transform:translateY(-50%);
    }
}
